/* notosans 100thin 200extarlight 300light 400regular 500medium 600semibold 700 bold 800extrabold 900 black */
/* roboto 100 thin 300light 400regular 500medium 700bold 900black*/
@font-face {
  font-family: "LOTTERIACHAB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes reward {
  0% {
    transform: scale(1);
    padding-top: 560px;
    opacity: 1;
  }

  100% {
    transform: scale(1.1);
    padding-top: 535px;
    opacity: 0;
  }
}

@keyframes step1 {
  0% {
    opacity: 0;
  }

  11% {
    opacity: 1;
  }

  22% {
    opacity: 1;
  }

  33% {
    opacity: 1;
  }

  44% {
    opacity: 1;
  }

  55% {
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  77% {
    opacity: 1;
  }

  88% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes step2 {
  0% {
    opacity: 1;
  }

  11% {
    opacity: 0;
  }

  22% {
    opacity: 1;
  }

  33% {
    opacity: 1;
  }

  44% {
    opacity: 1;
  }

  55% {
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  77% {
    opacity: 1;
  }

  88% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes step3 {
  0% {
    opacity: 1;
  }

  11% {
    opacity: 1;
  }

  22% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  44% {
    opacity: 1;
  }

  55% {
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  77% {
    opacity: 1;
  }

  88% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes step4 {
  0% {
    opacity: 1;
  }

  11% {
    opacity: 1;
  }

  22% {
    opacity: 1;
  }

  33% {
    opacity: 0;
  }

  44% {
    opacity: 1;
  }

  55% {
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  77% {
    opacity: 1;
  }

  88% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes step5 {
  0% {
    opacity: 1;
  }

  11% {
    opacity: 1;
  }

  22% {
    opacity: 1;
  }

  33% {
    opacity: 1;
  }

  44% {
    opacity: 0;
  }

  55% {
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  77% {
    opacity: 1;
  }

  88% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes step6 {
  0% {
    opacity: 1;
  }

  11% {
    opacity: 1;
  }

  22% {
    opacity: 1;
  }

  33% {
    opacity: 1;
  }

  44% {
    opacity: 1;
  }

  55% {
    opacity: 0;
  }

  66% {
    opacity: 1;
  }

  77% {
    opacity: 1;
  }

  88% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes step7 {
  0% {
    opacity: 1;
  }

  11% {
    opacity: 1;
  }

  22% {
    opacity: 1;
  }

  33% {
    opacity: 1;
  }

  44% {
    opacity: 1;
  }

  55% {
    opacity: 1;
  }

  66% {
    opacity: 0;
  }

  77% {
    opacity: 1;
  }

  88% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes step8 {
  0% {
    opacity: 1;
  }

  11% {
    opacity: 1;
  }

  22% {
    opacity: 1;
  }

  33% {
    opacity: 1;
  }

  44% {
    opacity: 1;
  }

  55% {
    opacity: 1;
  }

  66% {
    opacity: 1;
  }

  77% {
    opacity: 0;
  }

  88% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes cost {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  margin: 0 auto;
  padding: 0;
}

a {
  color: #111;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: #111;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.lotteria {
  font-family: "LOTTERIACHAB";
}

img {
  display: block;
}

/* top */
.top {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  height: 70px;
}

.top:hover {
  background-color: #fff;
}

.top_inner {
  width: 1300px;
  height: 70px;
}

.top_inner h1 {
  float: left;
  margin-top: 20px;
}

.top_inner .gnb {
  float: left;
  margin: 28px 365px 0 373px;
}

.top_inner .gnb li {
  float: left;
}

.top_inner .gnb li a {
  font-weight: 500;
  padding: 17px 30px 13px;
}

.top_inner .gnb li a:hover {
  color: #8ddf8d;
  border-bottom: 4px solid #8ddf8d;
}

.top_inner h2 {
  float: left;
  margin-top: 28px;
}

/* submenu */
.submenu {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: 999999;
  height: 150px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background: #fff url(../images/subbg.png) center bottom no-repeat;
}

.submenu_inner {
  width: 1320px;
  height: 150px;
  padding-left: 455px;
  box-sizing: border-box;
}

.submenu_inner ul {
  float: left;
  padding-top: 10px;
}

.submenu_inner ul li a {
  display: block;
  padding: 10px 0px;
  font-size: 16px;
  text-align: center;
}

.submenu_inner ul li a:hover {
  color: #8ddf8d;
}

.submenu_inner_1 li a {
  width: 106px;
}

.submenu_inner_2 li a {
  width: 91px;
}

/* header */
#header {
  position: relative;
  width: 100%;
  height: 400px;
  background: url(../images/sub/found/sub_banner.jpg) center top no-repeat;
}

.header_inner {
  width: 1320px;
}

.header_banner_title {
  color: #fff;
  font-size: 60px;
  padding: 170px 0 0 120px;
  box-sizing: border-box;
}

.header_sub_nav {
  float: right;
  width: 755px;
  height: 121px;
  margin-top: 82px;
  background: url(../images/sub/found/sub_banner_point.png) right bottom no-repeat;
  text-align: center;
}

.header_sub_nav_title {
  font-size: 24px;
  color: #909090;
  margin-bottom: 10px;
  padding-top: 20px;
  box-sizing: border-box;
}

.header_sub_nav ul {
  margin-left: 271px;
}

.header_sub_nav ul li {
  float: left;
  height: 50px;
  padding-top: 10px;
  box-sizing: border-box;
}

.header_sub_nav ul li:nth-child(1) {
  width: 110px;
  background-color: #8DDF8D;
  border-radius: 25px;
  margin-right: 20px;
}

.header_sub_nav ul li a {
  font-size: 20px;
  font-weight: 700;
}

.header_sub_nav ul li:nth-child(1) a {
  color: #fff;
  display: block;
  height: 50px;
}

.header_sub_nav ul li:nth-child(2) a:hover {
  color: #8DDF8D;
}

/* guide */
#guide {
  margin-top: 180px;
  margin-bottom: 180px;
  overflow: hidden;
}

/* reward */
.guide_reward {
  background: url(../images/sub/found/reward_bg.jpg) center top no-repeat;
  height: 900px;
  margin-bottom: 120px;
}

.guide_reward_inner {
  width: 1320px;
  height: 900px;
}

.guide_reward_inner img {
  animation: reward 2s infinite;
}

/* interior */
.interior {
  width: 1320px;
  height: 800px;
  background-color: #8DDF8D;
  padding: 20px 0;
  box-sizing: border-box;
}

.interior_textbox {
  float: left;
  width: 660px;
  background-color: #fff;
  height: 760px;
  padding: 100px 0 100px 100px;
  box-sizing: border-box;
  color: #6A9D6A;
}

.interior_textbox p {
  opacity: 0;
  margin-left: -200px;
}

.interior_imgbox {
  float: right;
  width: 660px;
}

.interior_textbox_font1 {
  font-size: 53px;
  line-height: 69px;
}

.interior_textbox_font2 {
  font-size: 24px;
  margin: 286px 0 27px;
}

.interior_textbox_font3 {
  font-size: 22px;
  line-height: 35px;
}

/* sns */
.sns_title {
  margin-top: 120px;
  margin-bottom: 60px;
}

.sns_content {
  height: 430px;
  margin-bottom: 15px;
}

.sns_content-title {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 430px;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
}

.sns_content-title .sns_content_track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee2 180s linear infinite;
}

.sns_content-title .sns_content_track2 {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 180s linear infinite;
}

.sns_content_banner {
  margin-left: 300px;
}

.sns_content_banner img {
  width: 430px;
  height: 430px;
  display: inline;
  margin-left: 15px;
}

/* system */
.system {
  height: 900px;
  background-image: url(../images/sub/found/system1.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  margin-top: 120px;
  margin-bottom: 120px;
  position: relative;
}

.system_banner1 {
  background-image: url(../images/sub/found/system1.jpg);
}

.system_banner2 {
  background-image: url(../images/sub/found/system2.jpg);
}

.system_banner3 {
  background-image: url(../images/sub/found/system3.jpg);
}

.system_banner4 {
  background-image: url(../images/sub/found/system4.jpg);
}

.system_title {
  position: absolute;
  top: 88px;
  left: 50%;
  margin-left: -201px;
  z-index: 9;
}

.system_section {
  width: 1320px;
  height: 900px;
  text-align: center;
}

.system_section1 {
  float: left;
  width: 439px;
  border-left: 3px solid #fff;
  box-sizing: border-box;
  height: 900px;
  color: #fff;
}

.system_section2 {
  float: left;
  width: 442px;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  box-sizing: border-box;
  height: 900px;
  color: #fff;
}

.system_section3 {
  float: left;
  width: 439px;
  border-right: 3px solid #fff;
  box-sizing: border-box;
  height: 900px;
  color: #fff;
}

.system_section1 .system_section_font1 {
  margin-bottom: 48px;
}

.system_section_font1 {
  font-size: 26px;
  font-weight: 700;

  margin-top: 712px;
  margin-bottom: 30px;
}

.system_section_font2 {
  font-size: 24px;
  line-height: 36px;

}

.system_section1:hover {
  color: #5DCB5D;
  background-color: rgba(0, 0, 0, 0.55);
  transition: all 0.3s;
}

.system_section2:hover {
  color: #5DCB5D;
  background-color: rgba(0, 0, 0, 0.55);
  transition: all 0.3s;
}

.system_section3:hover {
  color: #5DCB5D;
  background-color: rgba(0, 0, 0, 0.55);
  transition: all 0.3s;
}

.system_section2:hover .system {
  background: url(../images/sub/found/system2.jpg) center top no-repeat;
}

/* step */
.step {
  width: 1320px;
  overflow: hidden;
}

.step_title {
  margin-bottom: 60px;
}

.step_content {
  position: relative;
  height: 650px;
  text-align: center;
}

.step_content_back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.step_content_back li {
  float: left;
  margin-right: 8px;
}

.step_content_back li:nth-child(1),
.step_content_back li:nth-child(5) {
  width: 315px;
  height: 315px;
}

.step_content_back li:nth-child(2),
.step_content_back li:nth-child(3),
.step_content_back li:nth-child(4),
.step_content_back li:nth-child(6),
.step_content_back li:nth-child(7),
.step_content_back li:nth-child(8) {
  width: 327px;
  height: 315px;
}

.step_content_back li:nth-child(4),
.step_content_back li:nth-child(8) {
  margin-right: 0;
}

.step_content_back li:nth-child(1),
.step_content_back li:nth-child(2),
.step_content_back li:nth-child(3),
.step_content_back li:nth-child(4) {
  margin-bottom: 20px;
}

.step_content_front {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.step_content_front li {
  float: left;
  margin-right: 8px;
}

.step_content_front li:nth-child(1),
.step_content_front li:nth-child(5) {
  width: 315px;
  height: 315px;
}

.step_content_front li:nth-child(2),
.step_content_front li:nth-child(3),
.step_content_front li:nth-child(4),
.step_content_front li:nth-child(6),
.step_content_front li:nth-child(7),
.step_content_front li:nth-child(8) {
  width: 327px;
  height: 315px;
}

.step_content_front li:nth-child(4),
.step_content_front li:nth-child(8) {
  margin-right: 0;
}

.step_content_front li:nth-child(2),
.step_content_front li:nth-child(3),
.step_content_front li:nth-child(4),
.step_content_front li:nth-child(6),
.step_content_front li:nth-child(7),
.step_content_front li:nth-child(8) {
  padding-left: 20px;
  box-sizing: border-box;
}

.step_content_front li:nth-child(1),
.step_content_front li:nth-child(2),
.step_content_front li:nth-child(3),
.step_content_front li:nth-child(4) {
  margin-bottom: 20px;
}

.step_content_font1 {
  font-size: 32px;
  color: #8DDF8D;
  margin-top: 40px;
}

.step_content_font2 {
  font-size: 24px;
  font-weight: 700;
}

.step_content_front img {
  margin-top: 18px;
  margin-bottom: 18px;
}

.step_icon1 {
  animation: step1 10s infinite;
}

.step_icon2 {
  animation: step2 10s infinite;
}

.step_icon3 {
  animation: step3 10s infinite;
}

.step_icon4 {
  animation: step4 10s infinite;
}

.step_icon5 {
  animation: step5 10s infinite;
}

.step_icon6 {
  animation: step6 10s infinite;
}

.step_icon7 {
  animation: step7 10s infinite;
}

.step_icon8 {
  animation: step8 10s infinite;
}

/* cost */
.cost {
  background-color: #9AE69A;
  height: 890px;
  margin-top: 120px;
  padding-top: 60px;
  box-sizing: border-box;
}

.cost_inner {
  width: 1320px;
}

.cost_title {
  margin-bottom: 30px;
}

.cost table {
  border-collapse: collapse;
}

.cost_table1 {
  width: 220px;
}

.cost_table2 {
  width: 440px;
}

.cost_table3 {
  width: 220px;
}

.cost_table4 {
  width: 440px;
}

.cost table tr:nth-child(1) {
  height: 100px;
  background-color: #598759;
}

.cost table tr:nth-child(2) td {
  height: 100px;
  background-color: #fff;
}

.cost table tr:nth-child(2) th {
  height: 100px;
  background-color: #E9FFE9;
}

.cost table tr:nth-child(3) td {
  height: 200px;
  background-color: #fff;
}

.cost table tr:nth-child(3) th {
  height: 200px;
  background-color: #E9FFE9;
}

.cost table tr:nth-child(4) td {
  height: 100px;
  background-color: #fff;
}

.cost table tr:nth-child(4) th {
  height: 100px;
  background-color: #E9FFE9;
}

.cost table tr:nth-child(5) {
  height: 100px;
  background-color: #598759;
}

.cost table th {
  font-size: 22px;
  font-weight: 700;
}

.cost table tr:nth-child(1) th,
.cost table tr:nth-child(5) th {
  color: #fff;
}

.cost table tr:nth-child(2) th,
.cost table tr:nth-child(3) th,
.cost table tr:nth-child(4) th {
  color: #6A9D6A;
}

.cost table td {
  font-size: 20px;
  font-weight: 500;
  color: #6A9D6A;
}

.cost_table2 {
  padding: 0 30px;
  box-sizing: border-box;
}

.cost_table2 p:nth-child(1) {
  margin-bottom: 10px;
}

.cost_table3,
.cost_table4 {
  text-align: center;
}

.cost_table_bottom {
  margin-top: 10px;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}

.cost table tr:nth-child(1) .cost_table1 {
  border-right: 1px solid #fff;
}

.cost table tr:nth-child(1) .cost_table2,
.cost table tr:nth-child(1) .cost_table3 {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.cost table tr:nth-child(1) .cost_table4 {
  border-bottom: 1px solid #fff;
}

.cost table tr:nth-child(2) .cost_table1,
.cost table tr:nth-child(3) .cost_table1,
.cost table tr:nth-child(4) .cost_table1,
.cost table tr:nth-child(5) .cost_table1 {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.cost table tr:nth-child(5) .cost_table2,
.cost table tr:nth-child(5) .cost_table3 {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.cost table tr:nth-child(5) .cost_table4 {
  border-top: 1px solid #fff;
}

.cost table tr:nth-child(3) .cost_table2,
.cost table tr:nth-child(3) .cost_table3,
.cost table tr:nth-child(2) .cost_table2,
.cost table tr:nth-child(2) .cost_table3 {
  border-bottom: 1px solid #E9FFE9;
  border-right: 1px solid #E9FFE9;
}

.cost table tr:nth-child(3) .cost_table4,
.cost table tr:nth-child(2) .cost_table4 {
  border-bottom: 1px solid #E9FFE9;
}

.cost table tr:nth-child(4) .cost_table2,
.cost table tr:nth-child(4) .cost_table3 {
  border-right: 1px solid #E9FFE9;
}

.cost table tr:nth-child(5) .cost_table3 {
  animation: cost 2s infinite;
}

/* footer */
#footer {
  height: 353px;
  background-color: #232323;
}

.footer_inner {
  width: 1320px;
  box-sizing: border-box;
}

.footer_inner_top {
  height: 108px;
  border-bottom: 1px solid #3b3b3b;
  padding-top: 50px;
  box-sizing: border-box;
  position: relative;
}

.footer_inner_top_left {
  float: left;
}

.footer_inner_top_left li {
  float: left;
}

.footer_inner_top_left li a {
  color: #fff;
  margin: 7px 30px 0 0;
  font-size: 15px;
  font-weight: 500;
}

.footer_inner_top_left li a:hover {
  color: #fff78d;
}

.footer_inner_top_right {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 99;
}

.footer_inner_top_right li {
  float: left;
  margin-left: 10px;
}

.footer_inner_top_right p {
  color: #fff;
  width: 100px;
  height: 35px;
  background-color: #2b2b2b;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 500;
  padding-top: 3px;
  box-sizing: border-box;
}

.footer_inner_top_right_font1 img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 14px;
}

.footer_inner_top_right_font1 {
  padding-left: 20px;
  box-sizing: border-box;
}

.footer_inner_top_right_font4 {
  padding-left: 26px;
  box-sizing: border-box;
}

.footer_inner_top_right_font4 img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 21px;
}

.footer_inner_top_right_font2,
.footer_inner_top_right_font3 {
  border-top: 1px solid #3b3b3b;
  opacity: 0;
}

.footer_inner_top_right p:hover {
  color: #fff78d;
}

.footer_inner_top_right li:hover .footer_inner_top_right_font2,
.footer_inner_top_right li:hover .footer_inner_top_right_font3 {
  opacity: 1;
  transition: all 0.3s;
}

.footer_inner_bottom {
  height: 245px;
  padding: 30px 0 50px;
  box-sizing: border-box;
  position: relative;
}

.footer_inner_bottom_left {
  float: left;
}

.footer_inner_bottom_left h2 img {
  display: inline-block;
}

.footer_inner_bottom_left_font1 {
  font-size: 14px;
  font-weight: 700;
  margin: 25px 0 5px 0;
  color: #fff;
}

.footer_inner_bottom_left_font2,
.footer_inner_bottom_left_font3 {
  font-size: 14px;
  color: #bbbbbb;
}

.footer_inner_bottom_right {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #2b2b2b;
  height: 165px;
  width: 176px;
  padding: 23px 0 0 20px;
  box-sizing: border-box;
  z-index: 9;
}

.footer_inner_bottom_right_font1 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 31px;
  margin-bottom: 8px;
}

.footer_inner_bottom_right_font2 {
  font-size: 14.3px;
  color: #bbbbbb;
  line-height: 24px;
}