/* notosans 100thin 200extarlight 300light 400regular 500medium 600semibold 700 bold 800extrabold 900 black */
/* roboto 100 thin 300light 400regular 500medium 700bold 900black*/
@font-face {
  font-family: "LOTTERIACHAB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0 auto;
  padding: 0;
}

a {
  color: #111;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: -0.02em;
  color: #111;
  min-width: 1400px;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.lotteria {
  font-family: "LOTTERIACHAB";
}

img {
  display: block;
}

/* top */
.top {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  height: 70px;
}

.top:hover {
  background-color: #fff;
}

.top_inner {
  width: 1300px;
  height: 70px;
}

.top_inner h1 {
  float: left;
  margin-top: 20px;
}

.top_inner .gnb {
  float: left;
  margin: 28px 365px 0 373px;
}

.top_inner .gnb li {
  float: left;
}

.top_inner .gnb li a {
  font-weight: 500;
  padding: 17px 30px 13px;
}

.top_inner .gnb li a:hover {
  color: #8ddf8d;
  border-bottom: 4px solid #8ddf8d;
}

.top_inner h2 {
  float: left;
  margin-top: 28px;
}

/* submenu */
.submenu {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: 999999;
  height: 150px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background: #fff url(../images/subbg.png) center bottom no-repeat;
}

.submenu_inner {
  width: 1320px;
  height: 150px;
  padding-left: 455px;
  box-sizing: border-box;
}

.submenu_inner ul {
  float: left;
  padding-top: 10px;
}

.submenu_inner ul li a {
  display: block;
  padding: 10px 0px;
  font-size: 16px;
  text-align: center;
}

.submenu_inner ul li a:hover {
  color: #8ddf8d;
}

.submenu_inner_1 li a {
  width: 106px;
}

.submenu_inner_2 li a {
  width: 91px;
}

/* header */
#header {
  position: relative;
  width: 100%;
  height: 400px;
  background: url(../images/sub/found/sub_banner.jpg) center top no-repeat;
}

.header_inner {
  width: 1320px;
}

.header_banner_title {
  color: #fff;
  font-size: 60px;
  padding: 170px 0 0 120px;
  box-sizing: border-box;
}

.header_sub_nav {
  float: right;
  width: 755px;
  height: 121px;
  margin-top: 82px;
  background: url(../images/sub/found/sub_banner_point.png) right bottom no-repeat;
  text-align: center;
}

.header_sub_nav_title {
  font-size: 24px;
  color: #909090;
  margin-bottom: 10px;
  padding-top: 20px;
  box-sizing: border-box;
}

.header_sub_nav ul {
  margin-left: 276px;
}

.header_sub_nav ul li {
  float: left;
  height: 50px;
  padding-top: 10px;
  box-sizing: border-box;
}

.header_sub_nav ul li:nth-child(2) {
  width: 110px;
  background-color: #8DDF8D;
  border-radius: 25px;
  margin-left: 20px;
}

.header_sub_nav ul li a {
  font-size: 20px;
  font-weight: 700;
}

.header_sub_nav ul li:nth-child(2) a {
  color: #fff;
  display: block;
  height: 50px;
}

.header_sub_nav ul li:nth-child(1) a:hover {
  color: #8DDF8D;
}

/* inquiry */
#inquiry {
  margin-top: 180px;
  margin-bottom: 180px;
  width: 1320px;
}

.inquiry_title {
  margin-bottom: 60px;
}

input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#inquiry ul {
  overflow: hidden;
  margin-top: 30px;
  padding-bottom: 30px;
}

#inquiry ul li {
  float: left;
  text-align: center;
}

.inquiry_ticket_title {
  width: 210px;
  height: 60px;
  margin-right: 20px;
  padding-top: 14px;
  font-size: 20px;
  font-weight: 500;
  box-sizing: border-box;
}

.inquiry_ticket_content {
  width: 420px;
  height: 60px;
}

.inquiry_ticket_content input:focus {
  outline: none;
}

.inquiry_ticket_content_button button {
  width: 195px;
  height: 60px;
  background-color: #fff;
  color: #111;
  font-size: 20px;
  font-weight: 500;
  border: 1px solid #111;
}

.inquiry_ticket_content_button button:nth-child(1) {
  margin-right: 30px;
}

.inquiry_ticket_content_button button:hover {
  background-color: #111;
  color: #fff;
}

.inquiry_ticket_content_button button:focus {
  background-color: #111;
  color: #fff;
}

#inquiry ul li textarea {
  width: 1080px;
  height: 180px;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
}

#inquiry ul li textarea:focus {
  outline: none;
}

.inquiry_border_gray {
  border-bottom: 1px solid #BBBBBB;
}

.inquiry_border_black {
  border-bottom: 1px solid #111;
}

.inquiry_table {
  width: 1320px;
  border-bottom: 1px solid #111;
  padding: 50px 0;
}

.inquiry_table_inner {
  width: 825px;
}

.inquiry_table_font1 {
  font-size: 20px;
  font-weight: 700;
}

.inquiry_table_font2 {
  font-size: 18px;
  line-height: 29px;
  color: #5D5D5D;
  margin: 10px 0 30px;
}

.inquiry_table_font3 {
  font-size: 18px;
  line-height: 29px;
  color: #5D5D5D;
  margin-top: 20px;
}

.inquiry_table table {
  font-size: 18px;
  color: #5D5D5D;
  border-top: 1px solid #D5D5D5;
  border-bottom: 1px solid #D5D5D5;
}

.inquiry_table table th {
  font-weight: 500;
  border-bottom: 1px solid #D5D5D5;
}

.inquiry_table table td {
  padding-left: 20px;
  box-sizing: border-box;
}

.inquiry_table_bold {
  font-weight: 700;
}

.inquiry_table table th:nth-child(1),
.inquiry_table table td:nth-child(1) {
  width: 218px;
  height: 65px;
}

.inquiry_table table th:nth-child(2),
.inquiry_table table td:nth-child(2) {
  width: 365px;
  height: 65px;
  border-left: 1px solid #D5D5D5;
  border-right: 1px solid #D5D5D5;
}

.inquiry_table table th:nth-child(3),
.inquiry_table table td:nth-child(3) {
  width: 242px;
  height: 65px;
}

.inquiry_button {
  text-align: center;
}

.inquiry_button button {
  width: 200px;
  height: 80px;
  background-color: #111;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  margin-top: 60px;
  cursor: pointer;
}





/* footer */
#footer {
  height: 353px;
  background-color: #232323;
}

.footer_inner {
  width: 1320px;
  box-sizing: border-box;
}

.footer_inner_top {
  height: 108px;
  border-bottom: 1px solid #3b3b3b;
  padding-top: 50px;
  box-sizing: border-box;
  position: relative;
}

.footer_inner_top_left {
  float: left;
}

.footer_inner_top_left li {
  float: left;
}

.footer_inner_top_left li a {
  color: #fff;
  margin: 7px 30px 0 0;
  font-size: 15px;
  font-weight: 500;
}

.footer_inner_top_left li a:hover {
  color: #fff78d;
}

.footer_inner_top_right {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 99;
}

.footer_inner_top_right li {
  float: left;
  margin-left: 10px;
}

.footer_inner_top_right p {
  color: #fff;
  width: 100px;
  height: 35px;
  background-color: #2b2b2b;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 500;
  padding-top: 3px;
  box-sizing: border-box;
}

.footer_inner_top_right_font1 img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 14px;
}

.footer_inner_top_right_font1 {
  padding-left: 20px;
  box-sizing: border-box;
}

.footer_inner_top_right_font4 {
  padding-left: 26px;
  box-sizing: border-box;
}

.footer_inner_top_right_font4 img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 21px;
}

.footer_inner_top_right_font2,
.footer_inner_top_right_font3 {
  border-top: 1px solid #3b3b3b;
  opacity: 0;
}

.footer_inner_top_right p:hover {
  color: #fff78d;
}

.footer_inner_top_right li:hover .footer_inner_top_right_font2,
.footer_inner_top_right li:hover .footer_inner_top_right_font3 {
  opacity: 1;
  transition: all 0.3s;
}

.footer_inner_bottom {
  height: 245px;
  padding: 30px 0 50px;
  box-sizing: border-box;
  position: relative;
}

.footer_inner_bottom_left {
  float: left;
}

.footer_inner_bottom_left h2 img {
  display: inline-block;
}

.footer_inner_bottom_left_font1 {
  font-size: 14px;
  font-weight: 700;
  margin: 25px 0 5px 0;
  color: #fff;
}

.footer_inner_bottom_left_font2,
.footer_inner_bottom_left_font3 {
  font-size: 14px;
  color: #bbbbbb;
}

.footer_inner_bottom_right {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #2b2b2b;
  height: 165px;
  width: 176px;
  padding: 23px 0 0 20px;
  box-sizing: border-box;
  z-index: 9;
}

.footer_inner_bottom_right_font1 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 31px;
  margin-bottom: 8px;
}

.footer_inner_bottom_right_font2 {
  font-size: 14.3px;
  color: #bbbbbb;
  line-height: 24px;
}